# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Environment and credentials
*.env

# Logs
*.log

# VSCode settings
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/
